<section class="UserSection">
  <h2>設定</h2>
  <div class="UserContainer container">
    <%= render "shared/settings_nav" %>
    <div class="SettingsInfo">
      <div class="SettingsInfo__header">
        <h3>プロフィール</h3>
      </div>
      <%= form_with model: @user, url: update_profile_users_path, method: :patch, html: { multipart: true } do |f| %>
        <div class="SettingsInfo__group">
          <%= f.label :avatar, "アイコン画像", class: "form-label SettingsInfo__label" %>
          <% avatar_url = @user.avatar? ? @user.avatar.url : "default_avatar.png" %>
          <%= image_tag avatar_url, class: "rounded-circle mb-2", width: 80, height: 80 %>
          <%= f.file_field :avatar, class: "form-control", accept: "image/*" %>
        </div>

        <div class="SettingsInfo__group">
          <%= f.label :name, "名前", class: "form-label SettingsInfo__label" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="SettingsInfo__group">
          <%= f.label :bio, "自己紹介"%>
          <%= f.text_field :bio, class: "form-control"%>
        </div>

        <div class="SettingInfo__btn">
          <%= link_to "キャンセル", profile_users_path, class: "btn btn-outline-primary Button" %>
          <%= f.submit "保存", class: "btn btn-primary Button"%>
        </div>
      <% end %>
    </div>
  </div>
</section>
