<nav class="Navbar">
  <div class="Navbar__container">
    <%# ロゴ %>
    <%= link_to root_path, class: "Navbar__logo-link" do %>
      <%= image_tag "logo.png", alt: "ロゴ", class: "Navbar__logo" %>
    <% end %>

    <%# 右側メニュー %>
    <div class="Navbar__menu">
      <% if user_signed_in? %>
        <%# アイコン・名前・ドロップダウンを表示 %>
        <% avatar_url = current_user.avatar? ? current_user.avatar.url : "default_avatar.png" %>
        <div class="dropdown">
          <button class="Navbar__dropdown-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag avatar_url, class: "Navbar__avatar Avatar", alt: "" %>
            <span class="Navbar__username"><%= current_user.name %></span>
          </button>
          <%# ドロップダウンメニュー %>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><%= link_to "施設の新規登録", new_room_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "予約済み一覧", reservations_path, class: "dropdown-item" %></li>
            <li><%= link_to "登録済み一覧", own_rooms_path, class: "dropdown-item" %></li>
            <li><%= link_to "アカウント設定", account_users_path, class: "dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } %></li>
          </ul>
        </div>
      <% else %>
        <%# ログイン・新規登録ボタンを表示 %>
        <%= link_to "ログイン", new_user_session_path, class: "btn Button" %>
        <%= link_to "新規登録", new_user_registration_path, class: "btn Button" %>
      <% end %>
    </div>
  </div>
</nav>