<div class="FormWrapper container">
  <div class="FormContainer card">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: true }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="RoomForm__group">
        <%= f.label :email, "メールアドレス", class: "form-label required" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="RoomForm__group">
        <%= f.label :password, "パスワード", class: "form-label required" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワードを入力" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="RoomForm__group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, "ログイン状態を保持する", class: "form-check-label" %>
        </div>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary Button" %>
      <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-outline-primary Button" %>
    <% end %>
  </div>
</div>
