<%# rooms/_room_form.html.erb %>
<%# show.html.erb と edit.html.erb の共通パーシャル %>
<%# 呼び出し時に以下のローカル変数を渡す： %>
  <%# - room: Roomオブジェクト（@roomをローカル変数として受け取る） %>
  <%# - reservation: Reservationオブジェクト（showはnil、editは@reservation） %>
  <%# - title: ページタイトル（showはnil、editは"予約を変更する"） %>
  <%# - layout: CSSクラス（showは"two-column"、editは"one-column"） %>

  
<div class="RoomDetails container">
  <%# showページのみ戻るボタンを表示（reservationがnilの場合＝showページ） %>
  <% if reservation.nil? %>
    <div class="RoomDetail__header">
      <%= link_to rooms_path do %>
        <i class="bi bi-arrow-left text-primary"></i>戻る
      <% end %>
    </div>
  <% end %>

  <%# layoutの値をCSSクラスに追加することでshowとeditでレイアウトを切り替える %>
  <div class="RoomDetail <%= layout %>">
    <%# titleが存在する場合のみ表示（editページのみ「予約を変更する」） %>
    <% if title.present? %>
      <h2><%= title %></h2>
    <% end %>
    <%# ローカル変数のroomを使用 %>
    <div class="RoomDetail__image">
      <%= image_tag room.image.url, class: "RoomDetail__image" %>
    </div>
    <div class="RoomDetail__info">
      <div class="RoomDetail__title">
        <p class="RoomDetail__name"><%= room.name %></p>
        <p class="RoomDetail__price">¥<%= room.price %>~</p>
      </div>
      <p class="RoomDetail__address"><%= room.address %></p>
      <%# 星 %>
      <%= render "shared/stars" %>
      <div class="RoomDetail__description"><%= room.description %></div>

      <%# 予約確認ページに遷移 %>
      <%= form_with url: confirm_reservations_path, method: :get do |f| %>
        <%= f.hidden_field :room_id, value: room.id %>
        <div class="ReservationForm__container">
          <div class="ReservationForm__group">
            <%= f.label :check_in, "チェックイン" %>
            <%# reservation&.check_in はreservationがnilでもエラーにならない %>
            <%# showページ空欄、editページは既存の値が入る %>
            <%= f.text_field :check_in, value: reservation&.check_in, placeholder: "---- / -- / --", id: "check_in", class: "form-control" %>            
          </div>
          <div class="ReservationForm__group">
            <%= f.label :check_out, "チェックアウト" %>
            <%= f.text_field :check_out, value: reservation&.check_out, placeholder: "---- / -- / --", id: "check_out", class: "form-control" %>
          </div>
          <div class="ReservationForm__group">
            <%= f.label :person_num, "人数" %>
            <%# reservation&.person_num || 0 reservationがnilの場合0を表示する %>
            <%= f.number_field :person_num, value: reservation&.person_num || 0, class: "form-control" %>
          </div>
        </div>

        <%# showページとeditページでボタンを切り替える %>
        <% if reservation.nil? %>
          <%# showページ　ログインしている場合は予約ボタン、そうでない場合はログインボタンを表示 %>
          <% if user_signed_in? %>
            <%= f.submit "予約する", class: "btn btn-primary Button"%>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary Button"%>
          <% end %>
        <% else %>
          <%# editページ：予約変更ボタンとキャンセルボタンを表示 %>
          <%= f.submit "予約を変更する", class: "btn btn-primary Button"%>
          <%= link_to "キャンセル", :back , class: "btn btn-primary Button"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
